<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%5level) %cyan(%-36logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="IN_MEMORY" class="com.admir.is24crawler.util.InMemoryAppender"/>

    <logger name="scalacache.guava.GuavaCache" level="warn"/>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="IN_MEMORY"/>
    </root>
</configuration>
